node_modules

.idea/

/.cache
/build
/public/build
.env

prisma/*.db

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# User uploads
uploads/*
!uploads/.gitkeep
